header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input {
  background-color: gray;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 10px;
}

input:focus {
  outline: none;
}
